<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subject Marks</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Subject Marks</h1>
    <table class="table mt-4">
        <thead>
        <tr>
            <th>Subject Name</th>
            <th>Marks</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subjectMark : ${subjectMarks}">
            <td th:text="${subjectMark[0]}"></td>
            <td th:text="${subjectMark[1]}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
